- name: "upgrade packages."
  become: true
  apt:
    upgrade: "yes"
- name: "install dependencies."
  become: true
  apt:
    name: ["nodejs", "npm"]
    update_cache: yes
- name: "install pm2"
  become: true
  npm:
    name: pm2
    global: yes
    production: yes
    state: present

# - name: "copy backend file"
#   become: true
#   copy:
#     src: /home/circleci/project/backend
#     dest: /root/
#     force: no

# - name: Copy backend files
#   become: true
#   copy:
#     src: /etc/backend.tar.gz
#     dest: /root/backend.tar.gz

# - name: extract files
#   become: true
#   shell: |    
#     tar xzvf backend.tar.gz --directory /root/    

# - name: "install npm packages"
#   become: true
#   command: npm install
#   args:
#     chdir: /root/backend

# # - name: "compile npm packages"
# #   become: true
# #   command: npm run build
# #   args:
# #     chdir: /root/backend

# - name: "start server"
#   become: true
#   command: pm2 start npm -- run start
#   args:
#     chdir: /root/backend/dist

- name: "Create directory"
  become: true
  file:
    path: ~/udapeople/
    state: directory

- name: "extract  backend"
  become: true
  unarchive:
    src: /etc/backend.tar.gz
    dest: ~/udapeople/

- name: "install npm to  backend" 
  become: true
  command: npm install
  args:
    chdir: ~/udapeople/
   

- name: "run  backend"
  become: true
  command: pm2 start npm -- run start
  args:
    chdir: ~/udapeople/